@tailwind base;

.hero-container {
	background-image: url('/images/jimbg.png');
	background-position: bottom right;
	/* background-attachment: fixed; */
}

.profile {
	background-image: url('/images/jim-folio-3.jpg');
}
.content {

}
.color-primary {
	color: #0B427E;
}
.content p {
	@apply mb-10;
}

.content h1 {
	@apply text-2xl;
}

svg.linkedin {
	fill: #0077B5;
}

.dark-mode-toggle {
	display: flex;
	margin: 0 auto;
}
.dark-mode-toggle > button {
	background: none;
	border: none;
	color: #ffe600;
	cursor: pointer;
	transition: color 0.3s ease;
		
}
.dark-mode-toggle > button:last-child {
	color: #666;
}

.dark-mode-toggle > button:focus {
	outline: none;
}
.toggle-control {
	position: relative;
	padding: 0 4px;
	display: flex;
	align-items: center;
}
input[type='checkbox'].dmcheck {
	width: 40px;
	height: 10px;
	background: #555;
	position: relative;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	vertical-align: 2px;
	outline: none;
}
input[type='checkbox'].dmcheck:checked + label {
	left: 30px;
}

input[type='checkbox'].dmcheck:focus-visible {
	outline: solid 2px white;
}

input[type='checkbox'].dmcheck + label {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	transition: all 0.3s ease;
	cursor: pointer;
	position: absolute;
	left: 2px;
	background: #fff;
	opacity: 0.9;
	background-color: #f6f6f6;
}

.content h2 {
	@apply text-3xl text-black font-extrabold mb-3;
}

.content h3 {
	@apply text-2xl text-black font-extrabold mb-3;
}

.content ol {
	@apply list-decimal list-inside mb-4;
}

.content ul {
	@apply list-disc list-inside;
}
.mode-dark .content h2, .mode-dark .content h3 {
	@apply text-gray-100 
}

.list-block {
	@apply border-l-4 border-green-400 mb-5 pl-5 text-xl text-gray-600
}

@tailwind components;

@tailwind utilities;